$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
  --logo-color: #2196f3;
  --text-color: #212121;
  --alternative-text: #757575;
  --button-bg-color: #f5f4fa;
  --main-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --down-color: #ffffff;
  --ad-color: #ffffff;
  --team-color: #212121;
  --highlight: #2196f3;
  --team-bg: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --black-logo-color: #000000;
}
